.red {
  background-color: #d34848;
  width: 100%;
  height: 585px;
  display: flex;
}

.redimg1 {
  z-index: 1;
  width: 20%;
  margin-left: 5rem;
}

.redimg2 {
  z-index: 1;
  width: 20%;
  margin-top: 10rem;
}
